@model SUAMVC.Models.UsuarioModel

@{
    ViewBag.Title = "Inico SIAP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
<div><img src="~/Content/Images/boss.png" width="15" height="15" /> Inicio</div>
}
