<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SUA Solution</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div class="logo-login">
        <img src="~/Content/Images/logo.jpg" alt="" style="border:none;" width="120" height="120" />
        <h1>SIAP</h1>
        <h3 style="color:#057B35">IMSS 3.0</h3>
    </div>
    @RenderBody()
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - SIAP Sistema de Administración de Personal IMSS</p>
        </footer>
     </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>t